[[local|localrc]]

ENABLE_DEBUG_LOG_LEVEL=True
GIT_BASE=https://opendev.org
HOST_IP={{ ansible_eth0.ipv4.address }}
LIBVIRT_CPU_MODE="host-passthrough"
OFFLINE=False
PUBLIC_NETWORK_GATEWAY=172.24.4.1
RECLONE={{ ds_reclone }}
USE_PYTHON3="True"
VERBOSE=True

### Enable basic services
disable_all_services

enable_service rabbit,mysql,key
enable_service n-api,n-cpu,n-cond,n-sch,n-novnc,n-cauth,n-api-meta
enable_service placement-api,placement-client
enable_service g-api,g-reg
enable_service ovn-northd ovn-controller q-ovn-metadata-agent
enable_service horizon
enable_service tempest

### Neutron
# Use Neutron
enable_service q-svc
# Disable Neutron agents not used with OVN
disable_service q-agt q-dhcp q-l3 q-meta
# Enable services
enable_plugin neutron $GIT_BASE/openstack/neutron
enable_service q-trunk q-dns q-qos

### Octavia
OCTAVIA_LIB_BRANCH=master
OCTAVIA_LIB_REPO=$GIT_BASE/openstack/octavia-lib
OCTAVIA_AMP_BASE_OS=centos
OCTAVIA_AMP_DISTRIBUTION_RELEASE_ID=9-stream
OCTAVIA_AMP_IMAGE_SIZE=3
#OCTAVIA_LB_TOPOLOGY=ACTIVE_STANDBY
OCTAVIA_ENABLE_AMPHORAV2_JOBBOARD=True
LIBS_FROM_GIT+=octavia-lib,

enable_plugin barbican $GIT_BASE/openstack/barbican
enable_plugin octavia $GIT_BASE/openstack/octavia master
enable_plugin octavia-dashboard $GIT_BASE/openstack/octavia-dashboard
enable_plugin ovn-octavia-provider $GIT_BASE/openstack/ovn-octavia-provider
enable_plugin octavia-tempest-plugin $GIT_BASE/openstack/octavia-tempest-plugin

enable_service octavia o-api o-cw o-hm o-hk o-da

LIBS_FROM_GIT+=python-octaviaclient,octavia-tempest-plugin,designate-tempest-plugin
TEMPEST_PLUGINS="/opt/stack/octavia-tempest-plugin"
# TEMPEST_PLUGINS='/opt/stack/octavia-tempest-plugin /opt/stack/barbican-tempest-plugin /opt/stack/designate-tempest-plugin'

# Mostly static settings
DATABASE_PASSWORD=password
ADMIN_PASSWORD=password
SERVICE_PASSWORD=password
SERVICE_TOKEN=password
RABBIT_PASSWORD=password

[[post-config|$OCTAVIA_CONF]]
[haproxy_amphora]
connection_max_retries = 300
connection_retry_interval = 1

[amphora_agent]
forward_all_logs = True

[[test-config|$TEMPEST_CONFIG]]
[load_balancer]
check_interval = 1
check_timeout = 180
